/* You can add global styles to this file, and also import other style files */
body
{
  background-image: url("https://media.sketchfab.com/models/fe868af9ae9d48afa6eb3739626036e0/thumbnails/d2c69300251940cb8104a7c6b30cb704/3eae27e454644c30b8025ef4b4023ec5.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
